/* ==== headline ==========================================*/
#headline {
	clear:      both;
	padding:    3px 4px 6px 2px;
	line-height:90%;		
	z-index:    300;
	float:      left;
	position:   relative;
}

#headline .type {
	font-size:    8pt;
	padding-left: 1px;
	padding-bottom:10px;
	color:        #888;
}

#headline .type em {
	padding:      0px 7px 2px 5px;
	color:        #888;
}

#headline .title {
	font-size:    15pt;
	padding-left: 5px;
}
#headline .title .minor {
	font-size:    13pt;
	font-style:   normal;
}
#headline a {
    text-decoration:none;
}

/*---- presets ----------------------*/
div.presets {
 font-size:8pt;
}

div.presets a {
 text-decoration:none;
 border-right:1px solid #ccc;
 padding-left:4px;
 padding-right:3px;
}

div.presets a.current {
 color:#800;
 font-weight:bold;
}




/*==== content layout ======================*/
div#layout{
	padding:      0px 10px 3px 10px;
	clear:        left;
}

div#c1 {
	width:25%;
    float:right;
    padding:0px;
    margin-left:20px;
    overflow:hidden;
}

div#layout > div#c1 {
	width:250px;
}

div#c2 {
    padding:2px 0px 0px 0px;
    margin-right:10px;
    padding-bottom:100px;
    width:70%;
    overflow:hidden;

}

div#layout > div#c2 {
    width:auto;
    /*margin-right:280px;*/
    overflow:hidden;
}

/*==== blocks =======================*/
div.block {
  margin:       20px 0px 20px 0px;
}

div.block h2,
div.block h3 {
  font-size:          17px;
  color:              #939393;
}

div.block_header h2 {
  margin-bottom:      3px;
  float:              left;
}

div.block_header h2 span.links {
  font-weight:        normal;
  font-size:          14px;
}

div.block_header span span {
  padding-right:         6px;
}


div.block_header span.block_options {
    float:right;
    position:relative;
    font-weight:normal;
    font-size:9pt;
    padding-right:10px;
}

div.block_header span.block_options span {
    margin:0px 0px 0px 8px;
    padding:0px;
}
div.block_header span.block_options span.active a{
    text-decoration:none;
    color:#000;
    font-weight:bold;
}





div.block_body {
  clear:              both;
  background-color:   #f0f0f0;
  border:             1px solid #d3d3d3;
  border-width:       1px 1px 2px 1px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius:      8px;
}

div.block_body div.block_content {
  background-color:   #fff;
  border:             1px solid #d3d3d3;
  border-width:       0px 1px 1px 0px;
  -webkit-border-radius:  7px ;
  -moz-border-radius:   7px ;
  border-radius:        7px ;
  padding-top:        1px;
}


div.footer_form {
  padding:              10px;
}


div.block table th {
  background-color:     #f0f0f0;
  font-weight:          normal;
  font-size:            8pt;
  text-align:           left;
}

div.block table th  {
  border-bottom:        1px solid #d3d3d3;
  white-space:          nowrap;
}

div.block table th,
div.block table td  {
  padding:        2px 5px 2px 0px;
  overflow:       hidden;
}



div.block div.no_content {
  text-align:           center;
  color:                #888;
  font-style:           italic;
  padding:              10px;
}

div.block h3 {
  
}


/* ==== POST LIST ==================== */
div.block div.post_list_entry {
  color:        #373737;
  padding:      5px 10px;
  border-bottom:  1px solid #e5e5e5;
}

div.block div.post_list_entry > h3 {
  font-size:              17px;
  margin:               7px 0px 0px 4px ;
  color:                #373737;
}

div.block div.post_list_entry p.details {
  margin:               0px 4px 6px 5px;
}

div.block h3 span.headline_add_on {
  font-weight:          normal;
  color:                #939393;
  
}


/* === TEXT BLOCK =========== */
.block div.text {
  padding-top:        3px;
  padding-bottom:     10px;
}
.block  div.labeled {
    clear:            left;
    margin:           5px 0px 0px 0px;
    padding:          4px 0px 0px 0px;
}

.block div.labeled.separated {
  border-top:       1px solid #e5e5e5;
  padding-top:      7px;
  margin-top:      12px;
}

.block  div.labeled label{
    display:        block;
    width:          90px;
    float:          left;
    text-align:     right;
    padding-top:    0.25em;
    padding-right:  5px;
    font-size:      8pt;
    color:          #666;
}
.block  div.labeled > label { /* hidden from IE5.0 */
}

.block div.text p.edit { /* hidden from IE5.0 */
    float:        right;
    display:      inline;
    width:        auto;
    position:     relative;
    height:       0px;
}

.block div.labeled div.wiki {
  float:          left;
}



/* ===== RECENT CHANGES ================= */


div.recentchanges ul {
 margin:            5px 1em 0em 0.5em;
 padding:           0px;
}

div.recentchanges ul li{
 list-style:        none;
 background-color:  #fff;
 padding:           0.2em 0.0em;
 margin-bottom:     1px;
 line-height:       120%;

}

div.recentchanges ul li span.sub {
 display:           block;
 font-size:         8pt;
 color:             #888;
 padding-left:      0.0em;
}

div.recentchanges ul li span.sub span.person {
 color:             #555;
}

div.recentchanges p.more {
 text-align:        right;
 margin:            1px 1em 1em 1.5em;
 font-size:         10pt;
}

div.recentchanges li.by_cur_user a {
  color:            #888;
}



/*---- docuNavigation --------------------------*/
.block div.docuNavigation {
}
.block div.docuNavigation ul {
    margin:     0px;
    padding:     0px;
    list-style: none;
    margin-right:2px;
}

.block div.docuNavigation li {
    margin:     0px;
    padding:    0px;
    padding-left:0px;
    padding-right: 10px;
}
.block div.docuNavigation ul li a {
    padding:    0.2em 0.2em 0.2em 1.5em;
    display:    block;
    background-repeat:  no-repeat;
    background-position:center left;
}

.block div.docuNavigation ul.parents li {
    background-image:url(layout/bg_docu_navi_parents.png);
    background-repeat:  repeat-x;
    background-position:bottom;
}

.block div.docuNavigation ul.parents li a {
    background-image:url(layout/bg_docu_navi_parent_icon.png);
}

.block div.docuNavigation ul.parents li a.current {
}

.block div.docuNavigation ul.children li {
    margin-left:2em;
    font-size:  8pt;
}

.block div.docuNavigation a.current {
    font-weight:bold;
    color:      #333;
    background-color:  #eee;
}


.block div.docuNavigation ul a.current.folder {
    background-image:url(img/toggle_folder_open.gif);
}

.block div.docuNavigation ul a.folder {
    background-image:url(img/toggle_folder_closed.gif);
}

/*
 in graphical representation of estimate effort in task-list 
*/

div.estimated {
 background-repeat:repeat-x;
 background-position:center left;
 height:10px;
}

div.hours {
  background-image:url(img/bg_estimated_hours.png);
}

div.hours_completed {
  background-image:url(img/bg_estimated_hours_completed.png);
  float:left;
}
div.hours_risk {
  height:10px;
  background-color:#fff;
  border-right:1px solid #800;
  float:right;
  opacity:0.6;
}


div.days {
  height:9px;
  background-image:url(img/bg_estimated_days.png);
}

div.days_completed {
  height:9px;
  background-image:url(img/bg_estimated_days_completed.png);
  float:left;
}

div.days_risk {
  height:9px;
  background-color:#fff;
  border-right:1px solid #800;
  float:right;
  opacity:0.6;
}


div.weeks {
  height:14px;
  background-image:url(img/bg_estimated_weeks.png);
}

div.weeks_completed {
  height:14px;
  background-image:url(img/bg_estimated_weeks_completed.png);
  float:left;
}

div.weeks_risk {
  height:14px;
  background-color:#fff;
  border-right:1px solid #800;
  float:right;
  opacity:0.6;




/* ==== TABLES =================== */
table.list  .sort_primary {
	border-bottom:2px solid #808080;
}

table.list  .sort_secondary {
	border-bottom:1px solid #a0a0a0;
}

table.list th a{
	text-decoration:none;
      color:#444;
}
table.list th a:hover {
	text-decoration:underline;
}


table.list td {
	border:0px solid #fff;
	border-width:0px 1px 0px 0px;
	margin:0px;
	padding:3px 20px 3px 0px;
	vertical-align:middle;
  cursor:pointer;
  vertical-align:top;
}

  table.list tr.isFolder {
      font-weight:bold;
  }

div.block table tr.even td {
  background-color:     #f8f8f8;
}

div.block table.list tr.selected td{
    background-color:#5761E2;
    color:#fff;
}

div.block table.list tr.selected td a{
    color:#fff;
}

div.block table.list tr.selected td span{
    color:#fff;
}

table.list tr.isDone a {
		text-decoration:line-through;
}


/**
* special content-layout for pages
*/
body.loginForm h1,
body.loginFormSubmit h1,
body.loginForgotPassword h1,
body.loginForgotPasswordSubmit h1
{
    padding:1em 0 0.5em 0px;
}

body.loginForm div.block,
body.loginForgotPassword div.block
 {
 margin: 4em auto 10em auto;
 max-width:32em;
}

body.loginForm .form label {
 width:30%;
}

body.loginForm .form .inp {
 width:60%;
}

/* == LICENSE == */
div.license {
  max-width:  600px;
  margin:  30px;
}

div.license p,
div.license h2 {
  padding:  0.5em 0em;
}

