/* ---- edit functions ----
in comment lists
*/
div.edit_functions {
    /*font-size:90%;*/
    margin:0.8em 0.8em 0.8em 0em;
    padding:0.2em 0.2em 0.2em 0em ;

}
div.edit_functions a {
    color:#000;
    margin-right:9px;
    margin-left:0px;
    text-decoration:none;

    /*background-color:#FFFFBA;*/
    padding:0px 6px 0px 6px;

    border:1px solid #8F8F8F;
    background:#E9E9E9 url(layout/bg_button.png);
    background-position: top left;
    cursor:pointer;

}
div.edit_functions a:hover{
    /*text-decoration:underline;*/
    background-color:#fff;
    background-image:none;
}



/*--- dashboard (recent changes) -----------------*/
div.recentchanges h4 {
 margin:            0.2em 0.5em;
}

div.recentchanges ul {
 margin:            1px 1em 0em 1em;
 padding:           0px;
 /*font-size:         90%;*/
}


div.recentchanges ul li{
 list-style:        none;
 background-color:  #fff;
 padding:           0.2em 0.5em;
 margin-bottom:     1px;
 line-height:       120%;

}

div.recentchanges ul li span.sub {
 display:           block;
 font-size:         8pt;
 color:             #888;
 padding-left:      0.5em;
}

div.recentchanges ul li span.sub span.person {
 color:             #555;
}

div.recentchanges p.more {
 text-align:        right;
 margin:            1px 1em 1em 1.5em;
 font-size:         10pt;
}

div.recentchanges li.by_cur_user a {
  color:            #888;
}


/*--- dashboard (projects) -----------------*/
div#b_home_projects_long  {
 margin:            0.5em;
}

div#b_home_projects_long ul {
 margin:            0.2em 0em 1em 0.6em;
 padding:           0px;
 list-style:        none;

}
div#b_home_projects_long ul li {
 margin:            0px;
 padding:           0px 0px 0px 0.7em;
 background:        url(layout/list_bullet.png) left center no-repeat; 
 

}



/*--- project news (for custom projView)--------------*/
div.newsBlock {
    border-bottom:1px dashed #888;
    padding-bottom:0.5em;
}
div.newsTitle {
    margin-top: 1em;
    margin-bottom: 0.5em;

}

div.newsTitle h3 a {
    font-size:14pt;
    color:#000;
    font-family: "Arial Black";
    font-weight: normal;
}

div.newsBlock span.comments {
    display:block;
    text-align:right;

}







/* ==== headline ==========================================*/
	#headline {
		clear:both;
		padding:3px 4px 6px 2px;
		line-height:90%;		
		z-index:300;
		float:left;
		position:relative;
	}

	#headline .type {
		font-size:8pt;
		padding-left:1px;
		padding-bottom:10px;
		color:#808080;
	}
    #headline .type em {
		padding:0px 7px 2px 5px;
		color:#808080;
	}

	#headline .title {
		font-family:verdana;
		font-weight:bold;
		font-size:15pt;
		padding-left:5px;
		font-style:italic;
	}
	#headline .title .minor {
		font-size:13pt;
		font-style:normal;
	}
	#headline a {
	    text-decoration:none;
	}
/* ---- Feedback request box ---- */
div.item_notice {
  background-color: #fdd;
  border: 1px solid #a00;
  padding: 0.3em 0.5em;
}
div.item_notice h3 {
  color: #800;
}


div.milestone_views {
    /*font-size:80%;*/
    float:right;
    position:relative;
    top:-1em;
}

/*------ content layout -----------------------------*/
div#layout{
	vertical-align:top;
	padding:0px 10px 3px 10px;
	clear:left;
}

div#c1 {
	width:25%;
    float:right;
    padding:0px;
    margin-left:5px;
    overflow:hidden;
}

div#layout > div#c1 {
	width:250px;
}


div#c2 {
    padding:2px 0px 0px 0px;
    margin-right:10px;
    padding-bottom:100px;
    width:70%;
    overflow:hidden;

}

div#layout > div#c2 {
    width:auto;
    /*margin-right:280px;*/
    overflow:hidden;
}

#cr {
}

/**
* special content-layout for pages
*/
body.loginForm h1,
body.loginFormSubmit h1,
body.loginForgotPassword h1,
body.loginForgotPasswordSubmit h1
{
    padding:1em 0 0.5em 0px;
}

body.loginForm div.block,
body.loginForgotPassword div.block
 {
 margin: 4em auto 10em auto;
 max-width:32em;
}

body.loginForm .form label {
 width:30%;
}

body.loginForm .form .inp {
 width:60%;
}


    .block label {
        position:relative;
    }





/*--- block - -----*/
.block_opened {
}

.block_closed {
}

/*----- blocks ---------------------------------------*/
div.block {
 	background-image: url(layout/bg_block.png);
 	background-repeat:repeat-y;
 	background-position:right;
 	border-left:1px solid #C8C8C8;
 	border-bottom:1px solid #C8C8C8;
 	position:relative;
}
    /**
    * additional layoutcontainer
    */
    div.block b.extra {
        height:5px;
        width:1px;
        display:block;
        position:relative;
        background-color:#fff;
        float:left;
        line-height:0.01;
        overflow:hidden;
        left:-7px;
        top:-6px;
    }

	div.closed {
		padding:0px;
		margin:0px;
		margin-bottom:1px;
	}

	div.opened {
		margin-bottom:3px;
		margin-top:3px;
	}


	/*--- header ----*/
	.block .header {
     	background: url(layout/bg_block_header.png);
     	background-repeat:no-repeat;
     	background-position:top right;
		padding:0.4em 2px 0px 0.4em;
		font-weight:bold;
		height:20px;
		margin:0px; 

	}



    /* IE 6.0 */
    div.block.reduced_header > h2 {
     	background: url(layout/bg_block_header.png);
     	background-repeat:no-repeat;
     	background-position:top right;
    }

    /* good browsers */
    div.block.reduced_header > div.extra_top {
		padding:0.4em 2px 0px 0.4em;
		position:relative;
		height:15px;
     	background: url(layout/bg_block_header.png);
     	background-repeat:no-repeat;
     	background-position:top right;
    }

    div.block.reduced_header > h2 {
        background-image:none;
    }


    /* this must be reversed in styles_ie.ccs */
    div.block.reduced_header div.extra_top {
        margin-bottom:-2px;
    	position:relative;		
    
    }

    /*--- toggle blocks ---*/
	.opened .header h2 {
        background-image:url(img/toggle_block_open.gif);
        background-repeat:no-repeat;
        background-position:top left;

    }

	.closed div.header h2{
        background-image:url(img/toggle_block_closed.gif);
        background-repeat:no-repeat;
        background-position:top left;
	}
	.block  h2 {
		cursor:pointer;
        padding-left:16px;
        font-size:11pt;
		position:relative;

	}


	.block .header h2:hover {
		cursor:pointer;
	}

	.block .header h2 img {
		padding:0px 5px 0px 2px;
	}

	.header span.block_options {
	    float:right;
	    position:relative;
	    top:-1.4em;
	    font-weight:normal;
	    font-size:9pt;
	    padding-right:10px;
	}

    .header span.block_options span {
        margin:0px 0px 0px 8px;
        padding:0px;
    }
	.header span.block_options span.active a{
        text-decoration:none;
        color:#000;
        font-weight:bold;
	}

    .block div.empty {
        padding:0px 0px 2px 17px;
        font-size:80%;
    }





	/*--- .list_footer --------------------*/
    .block .footer .items{
        float:left;
        display:inline;
    }

    .block .footer .pages{
        float:left;
        display:inline;
    }


    .block .footer {
        text-align:left;
        vertical-align:top;
    }
    .block .footer .summary {
        /*font-size:90%;*/
        padding-left:10px;
        vertical-align:top;
        text-align:right;
        margin:2px 3px 3px 1px;
    }

    .block .footer .functions {
        margin:0px;
        padding:0px;
    }

    .block .footer>.functions {
        margin-top:1px;
        float:left;
    }
    .block .footer select {
        text-align:left;
        margin-right:10px;
        font-size:8pt;
        padding:0px;
        margin:0px;
    }

    .block div.footer span.links {
        padding-left:1em;
        /*font-size:   90%;*/
    }
    .block div.footer span.links a {
        padding-right:  1em;
    }


    div.block div.footer {
        background-image:url(layout/bg_block_footer.png);
        background-repeat:repeat-x;
        background-position:bottom;
        padding-top:0.1em;
        padding-bottom:0.3em;
        margin-right:2px;
    }
	.block .footer .icons {
        padding-left:20px;
        background-image:url(img/arrow_checkbox_functions.gif);
        background-repeat:no-repeat;
        padding-right:3px;
        margin-right:5px;
	}

    .footer>span.icons {
        float:left;
    }

	.block .footer .icons img{
		padding-left:5px;
		padding-right:5px;
	}

	.block .footer .icons a img {
		border:none;
	}

	.block .footer .list_functions {
        /*font-size:80%;*/
		padding-left:30px;
		padding-top:0px;
        background-image:url(img/arrow_checkbox_functions.gif);
        background-repeat:no-repeat;
        padding-right:3px;
        margin-right:5px;
	}

    .footer>span.list_functions {
        float:left;
    }

	.block .footer .list_functions a {
        color:#C70000;
        margin-right:9px;
        padding-right:10px;
        margin-left:2px;
        text-decoration:none;
        border-right:1px solid #888;

	}

	.block .footer .list_functions a:hover {
	    text-decoration:underline;
	}

	.block .icons .notallowed {
		opacity:0.2;
	}

	.block .icons .inactive {
		opacity:0.6;
	}

	.block .icons .inactive:hover {
		opacity:0.1;
	}

	.block .icons img:hover {
		background-color:#ffffff;
	}


/*----- listBlock ----------------------------------------*/
	table.list {
		border-collapse:collapse;
		border-width:0px;
		margin:0px 2px 0px 0px;
		padding:0px;
		/*border-bottom:1px solid #808080;*/
		margin-bottom:0px;
        width:100%;
		border-right:2px solid #ddd;
		border-left:1px solid #ddd;


	}

    div.block > div.table_container {
		clear:both;
        /*overflow:scroll;*/        /* causes hidden table rows with Firefox 1.0 */
        margin-right:1px;
    }

    /* use selector to hide this from IE6 */
    .block > table.list {
		/*border-left:2px solid #ddd;*/
        border-width:0px;
        margin-right:auto;
        width:auto;
        clear:both;
        margin-right:100px;
        border:0px solid #000;
        overflow:hidden;
    }



	table.list th {
		font-weight:bolder;
		font-size:8pt;
	    line-height:    12pt;

		text-align:left;
		padding:0px 3px 1px 2px;
		/*border-bottom:1px solid #808080;*/
		/*border-right:1px solid #a0a0a0;*/
		/*border-left:1px solid #e8e8e8;*/
		border-right:1px solid #ffffff;
		background-image:url(layout/bg_list_header.png);
		background-repeat:repeat-x;
		background-position:bottom;

		white-space:nowrap;
		vertical-align:bottom;
        font-weight:normal;
	}
	table.list  .sort_primary {
		border-bottom:2px solid #808080;
	}

	table.list  .sort_secondary {
		border-bottom:1px solid #a0a0a0;
	}

	table.list th a{
		text-decoration:none;
        color:#444;
	}
	table.list th a:hover {
		text-decoration:underline;
	}
	table.list th img {
		border:none;
		padding-right:0px;
	}


	table.list .select_col {
		padding:0px;
		margin:0px;
		text-align:center;
		vertical-align:top;
	}

	table.list td {
		border:0px solid #fff;
		border-width:0px 1px 0px 0px;
		margin:0px;
		padding:3px 20px 3px 0px;
		/*font-size:80%;*/
		vertical-align:middle;
        cursor:pointer;
        vertical-align:top;
	}


	table.list tr.group td {
	    padding:3px 0px 0px 3px;
	    background:#bbc url(img/bg_grouped_list.png);
	    background-repeat:repeat-x;
	    background-position:top right;
	    color:#fff;
	    /*font-size:80%;*/
	    font-weight:bold;
	    font-style:italic;

	}

	table.list tr.group td a {
	    color:#fff;
	    padding:3px;
	}

	table.list td.narrow {
		padding:0px 10px 0px 0px;
	}

    table.list tr.isFolder {
        font-weight:bold;
    }

    table.list td.status {
        font-size:8pt;
        font-weight:bold;
    }

    table.list td.new {
        color:#E57700;
        font-size:8pt;
    }

    table.list td.open {
        color:#888;
        font-size:8pt;
    }

    table.list td.done {
        color:#349118;
    }

    span.new {
        color:#E57700;
        font-weight:bold;
    }

    table.list td .entity {    /* entities like 'D' 'h' '�'*/
        font-size:8pt;
    }

    table.list td.label {    /* entities like 'D' 'h' '�'*/
        /*text-align:center;*/
    }

    .label1,.label2,.label3,.label4,.label5,.label6,.label7,.label8,.label9,.label10,.label11 {
        /*padding-left:4px,
        padding-right:4px;
        margin-left:4px;*/
        /*border:1px solid;*/
        /*border-left-width:5px;
        border-right-width:5px;*/
        -moz-border-radius:6px;
        font-size:8pt;
        font-weight:bold;
        color:#888;
    }

    /*1- Important*/
    .label1 {
        color:#f00;
    }
    /*2- Bug*/
    .label2 {
        color:#282;
    }



    .diz {          /*note that task has description*/
        font-size:8pt;
        color:#888;
        padding-left:5px;
    }






    .list td.number{
        text-align:right;
    }

    .list td.timeDue{
        text-align:right;
        white-space:nowrap;
    }
    .overdue{
        color:#c00;
        font-weight:bold;
    }


	table.list td img {
		border:none;
	}

    table.list tr.isDone a {
		text-decoration:line-through;
    }


    table.list td.right {
        text-align:right;
    }

    table.list tr.current {
        font-weight:bold;
        background-color:#ffffff;
        /*border:2px solid #888;
        border-width:2px 2px 2px 2px;*/

    }
    

	table.list td a:hover {
		text-decoration:underline;
	}

    table.list tr td {
		background-color:#fff;
    }


	table.list tr.even td {
		background-color:#f8f8f8;
	}

    table.list tr.changed span.date {
        font-weight:bold;
        color:#E57700;
    }

    /*----- Topic & Task attachments -----*/
    table.list td.summary {
        text-align: center;
    }
    table.list td.summary img {
        border: 1px solid #888;
    }

    table.list td.summary a:hover {
        text-decoration: none;
    }

    table.list td.summary a:hover img{
        border-color:#619DD5 ;
    }


    /* --- efforts --- */
	table.list  tr.isNewDay td{
        border-top:2px solid #000;
	}

    table.list tr.pub_assigned {
        border-right:4px solid #B21A4B;
    }

    table.list tr.pub_suggested {
        border-right:4px solid #F3975E;
    }

    table.list tr.pub_client {
        border-right:4px solid #C0CB94;
    }
    table.list tr.pub_client_edit {
        border-right:4px solid #788D67;
    }

    table.list tr.pub_private {
        border-right:4px solid #D50000;
    }
    table.list tr.pub_suggested {
        border-right:4px solid #45B3AD;
        opacity:0.5;
    }

    table.list  span.name {
        font-weight:bold;
    }

    table.list td.nobreak {
        white-space:nowrap;
    }


    .list .indention{
        padding-left:10px;
    }
    .list .indented{
        /*padding-left:22px;*/
        /*background-image:url(img/bg_indented.gif);
        background-repeat:no-repeat;*/
    }
    .folder_none{
        padding-left:14px;
    }
    .list .folder_collapsed{
        /*padding-right:7px;
        font-weight:bold;*/
    }
    .list .folder_open{
        /*padding-right:7px;
        font-weight:bold;*/
    }



    /*--- details in grouped list stye -------------------------*/
    .block table tr.details {
        background-color:#fff;
        color:#888;
        font-size:8pt;
        border-bottom:1px  solid #ddd;

    }
    .block table tr.details td{
        padding-left:2em;
        padding:0px;
    }


    .block table tr.details div {
        overflow:hidden;
        padding:0px;
        margin:0px;
    }

    .block table tr.details div.severity {
        padding-left:1em;
        float:left;
        width:10em;
    }

    .block table tr.details div.description {
        padding-left:1em;
        float:left;
        width:40%;
    }

    .block table tr.details img {
        width:50%;
    }

    .block table tr.details div.steps {
        padding-left:1em;
        float:left;
        width:20%;
    }
    .block table tr.details div.assigned_to {
        padding-left:1em;
        float:right;
        width:15%;
        font-size:110%;
        text-align:right;
    }


    /*--- list changes -----------------------*/
    table.list td span.extract {
        line-height:120%;
    }
    table.list td span.sub {
        color:#898989;
        line-height:120%;
        font-size:  8pt;
    }
    table.list td span.sub a {
        color:#619DD5;
    }


    table.list td span.who {
        white-space:nowrap;
    }

    table.list tr.changeList td {
        vertical-align:top;
        padding:4px 1px 4px 2px;
        line-height:100%;
    }


    /* ---- documentation list ----------------*/
    table#docu {
        background:none;
    }

    table#docu th{
        display:none;
    }

    table#docu tr.isFolder a{
        font-weight:normal;
    }

    table#docu td.current a{
        color:#000;
        font-weight:bold;
    }

    table#docu td {
        background:none;
    }

    table#docu td.odd {
        background:none;
    }

    /* ---- list comments ----------------*/

    table#comments td.details{
        vertical-align:top;
    }




    /* ---- Comment tables -------------------*/
    table.list span.comments {
        font-weight:normal;
        background-image:url(items/item_discussion.png);
        background-repeat:no-repeat;
        background-position:top right;
        padding-right:13px;
        color:#888;
    }

    table.list td.details p.poster {
        font-weight:bold;
    }

    table.list td.details.by_cur_user p.poster a{
        color:#888;

    }

    table.list td.details div.edit_functions a {
        border:1px solid #8F8F8F;
        /*padding-left:0px;*/
    }


    table.list td.details  div.edit_functions a:hover{
        border:1px solid #aaa;
        text-decoration:none;
        background-color:#fff;
        background-image:none;
    }

    table.list td.by_cur_user {
        color:#888;
    }

    table.list td.by_cur_user span.title a {
        color:#888;

    }

    table.list td.details {
        padding-left:4px;
    }

    table.list div.comment_block {
        float:left;
    }

    table.list div.comment_block span.title {
        font-weight:bold;
    }

    table.list div.comment_text {
        padding-left:18px;
    }



    /* ---- list milestones ----------------*/
    table.versions td, table.milestones td, table#comments td {
        vertical-align:top;
        border-bottom:1px dashed #ccc;
    }

    /* ---- list files ----------------*/
    table#files td {
        vertical-align:top;
        border-bottom:1px dashed #ccc;
    }

    table#files td a.thumb{
        float:right;
        margin-left:4px;
        border:1px solid #888;
    }
    table#files td.summary {
     padding-left:3px;
    }

    /* ---- team list ----------------*/
    table#projectpersons span.person{
     display:block;
     float:left;
     overflow:hidden;
     white-space:nowrap;
     padding-right:5px;


    }
    table#projectpersons td{
      padding-right:5px;
      vertical-align:bottom;
    }


div.description {
  /*font-size:9pt;*/
}



/*---- docuNavigation --------------------------*/
.block div.docuNavigation {
}
.block div.docuNavigation ul {
    margin:     0px;
    padding:     0px;
    list-style: none;
    margin-right:2px;
}

.block div.docuNavigation li {
    margin:     0px;
    padding:    0px;
    padding-left:2px;
}
.block div.docuNavigation ul li a {
    padding:    0.2em 0.2em 0.2em 1.5em;
    display:    block;
    background-repeat:  no-repeat;
    background-position:center left;
}

.block div.docuNavigation ul.parents li {
    background-image:url(layout/bg_docu_navi_parents.png);
    background-repeat:  repeat-x;
    background-position:bottom;
}

.block div.docuNavigation ul.parents li a {
    background-image:url(layout/bg_docu_navi_parent_icon.png);
}

.block div.docuNavigation ul.parents li a.current {
}

.block div.docuNavigation ul.children li {
    margin-left:2em;
    font-size:  8pt;
}

.block div.docuNavigation a.current {
    font-weight:bold;
    color:      #000;
}


.block div.docuNavigation ul a.current.folder {
    background-image:url(img/toggle_folder_open.gif);
}

.block div.docuNavigation ul a.folder {
    background-image:url(img/toggle_folder_closed.gif);
}


/**
* block content without underlines
*/
.block div.linklist {
    padding:3px;
    /*font-size:80%;*/
    margin:0px 2px 0px 5px;
    -moz-border-radius:7px;
}

/*---- information-block / summary ----*/
.block div.text{
    /*background-color:#f6f9df;*/
    /*border:2px solid #aaa;
    border-width:0px 2px 0px 2px;*/
    padding:3px;
    /*font-size:80%;*/
    margin:0px 2px 0px 5px;
    -moz-border-radius:7px;
    /*background-color:#EFEFEF;*/

}

    .block div.text a {
        border-bottom:1px dotted #888;
    }

    .block div.text a:hover {
        border-bottom:1px dotted #f00;
    }

    .block div.text ul {
        list-style:square;
    }
    .block div.text li{
        margin-left:10px;

    }

    .block div.text p.text{
        margin:0px 0px 0px 0px;
    }

    /* ------ labeled text item ----------------------------------------*/
    .block  div.labeled {
        margin:5px 0px 0px 80px;
        padding:0px 0px 0px 0px;
        clear:left;
    }

    .block  div.labeled label{
        width:90px;
        display:block;
        float:left;
        text-align:right;
        padding-top:0.25em;
        padding-right:5px;
        margin-left:-45px;
        font-size:8pt;
        /*line-height:120%;*/
        color:#666;
    }
    .block  div.labeled > label { /* hidden from IE5.0 */
        margin-left:-90px;
    }

    .block div.text p.edit { /* hidden from IE5.0 */
        float:right;
        display:inline;
        width:auto;
        position:relative;
        height:0px;
    }

    .block div.text a {
        text-decoration:none;
    }

    .block div.text a.dummy {
        text-decoration:line-through;
    }

    
    
    /**
    * simplify description
    */
    .block div.text p.description {
        margin:0px 0px 0px 0px;
    }
    .block div.text p.description label {
        display:none;
    }

    
/*
    .block div.text div.labeled {
        margin:5px 0px 0px 85px;
        padding:0px 0px 0px 0px;
        max-width:600px;
    }
    
    .block div.text div.labeled {
        margin:5px 0px 0px 85px;
        padding:0px 0px 0px 0px;
        max-width:600px;
    }
    .block div.text div.labeled label{
        width:95px;
        display:block;
        float:left;
        text-align:right;
        padding-top:0.2em;
        padding-right:5px;
        margin-left:-45px;
        font-size:8pt;
        color:#666;
    }

    .block div.text div.labeled > label {
        margin-left:-100px;

    }
    */

    /* dummy tag to clear floating behind framed images
       (with float the framed would have 100% width) */
    .block span.clear {
        clear:left;
        display:block;
        height:1px;

    }






    table.backtrace{
        border:1px solid #888;
        border-collapse:collapse;
    }

    table.backtrace td{
        border:1px solid #888;
        padding:4px;
    }

    table.backtrace th {
        background-color:#888;
        color:#fff;

    }



/*
 in graphical representation of estimate effort in task-list 
*/

div.estimated {
 background-repeat:repeat-x;
 background-position:center left;
 height:10px;
}

div.hours {
  background-image:url(img/bg_estimated_hours.png);
}

div.hours_completed {
  background-image:url(img/bg_estimated_hours_completed.png);
  float:left;
}
div.hours_risk {
  height:10px;
  background-color:#fff;
  border-right:1px solid #800;
  float:right;
  opacity:0.6;
}


div.days {
  height:9px;
  background-image:url(img/bg_estimated_days.png);
}

div.days_completed {
  height:9px;
  background-image:url(img/bg_estimated_days_completed.png);
  float:left;
}

div.days_risk {
  height:9px;
  background-color:#fff;
  border-right:1px solid #800;
  float:right;
  opacity:0.6;
}


div.weeks {
  height:14px;
  background-image:url(img/bg_estimated_weeks.png);
}

div.weeks_completed {
  height:14px;
  background-image:url(img/bg_estimated_weeks_completed.png);
  float:left;
}

div.weeks_risk {
  height:14px;
  background-color:#fff;
  border-right:1px solid #800;
  float:right;
  opacity:0.6;
}



/*---- presets ----------------------*/
div.presets {
 font-size:8pt;
}

div.presets a {
 text-decoration:none;
 border-right:1px solid #ccc;
 padding-left:4px;
 padding-right:3px;
}

div.presets a.current {
 color:#800;
 font-weight:bold;
}


table.list tr.selected div.wiki .edit_chapter:hover {
    background-color:#5761E2;
}
div.edit_chapter form textarea{
    display:block;
}

