body {
	max-width:600px;
	margin-left: auto;
	margin-right:auto;
	font-size:14px;
	line-height: 1.4em;
	font-family: "Segeo UI", "Helvetica", Tahoma;
	padding-left:1em;
	padding-right:1em;
}


body ol {
	padding-left:20px;
}
body > ol {
	font-weight: bold;
}

body > ol li {
	margin-bottom:0.4em;
}

body > ol   ol {
	font-weight: normal;
}

body > ol ol  ol {
	font-size:12px;
	list-style: none;
	padding-left: 10px;
	line-height: 120%;
}

h1 {
	padding-top:3em;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 1.0em;

	font-weight:200;

	counter-increment: section;
	counter-reset: sub-section;
	page-break-before: always;
}

h2 {
	counter-increment: sub-section;
	page-break-before: avoid;
	line-height: 1.2em;
}

h1:before {
	content: counter(section) ". ";	
}


h2:before {
	content: counter(section) "." counter(sub-section) " ";	
}




a {
	text-decoration: none;
	color: #44a;
}
a.anchor {
	text-decoration: none;
	color:#eee;
}


img {
	max-width: 100%;
	height:auto;
	margin-top: 1em;
	margin-bottom: 2em;
}



 @page {
   @bottom-left {
        content: counter(page) "/" counter(pages);
    }
 }






