body {
	max-width:600px;
	margin-left: auto;
	margin-right:auto;
	font-size:14px;
	line-height: 150%;
	font-family: "Segeo UI", "Helvetica", Tahoma;
	padding-left:1em;
	padding-right:1em;
}


body ol {
	padding-left:20px;
}
body > ol {
	font-weight: bold;
}

body > ol li {
	margin-bottom:0.4em;
}

body > ol > li > ol {
	font-weight: normal;
}

body > ol > li > ol > li > ol {
	font-size:12px;
	list-style: none;
	padding-left: 10px;
	line-height: 120%;
}

h1 {
	margin-top:3em;
	text-transform: uppercase;
	font-size: 40px;
	font-weight:200;
}

a {
	text-decoration: none;
	color: #44a;
}
a.anchor {
	text-decoration: none;
	color:#eee;
}


img {
	max-width: 100%;
	height:auto;
	margin-top: 1em;
	margin-bottom: 2em;
}





