/**
* clean theme from streberPM
*  (c)2005 thomas@pixtur.de
*/

/* === common settings ================================== */

body {
	background-color:#fff;
	padding:0px;
	margin:0px;
	font-family:"Trebuchet MS", Tahoma, Arial, Verdana,sans-serif;

}

a {
	color:#163075;
	text-decoration:none;
}
a:hover {
	color:#a00;
}



p,h1,h2,h3,h4,div {
	margin:0px;
	padding:0px;
}

span.accesskey{
    text-decoration:underline;
}

.small, td.small span{
    font-size:75%;
}

span.date {
    white-space:nowrap;
}

.not_found {
    color:#a00;
}


table .searchword,
div.wiki .searchword
{
    background-color:#ff4;
}


/*--- section-colors ---*/
.bg_projects 		{background-color:#E5E5E5;}
.bg_projects_shade  {background-color:#E5E5E5;}

.bg_time 		{background-color:#EDDB8E;}
.bg_time_shade  {background-color:#E5E5E5;}

.bg_people 		{background-color:#EAE9B4;}
.bg_people_shade  {background-color:#E5E5E5;}

.bg_misc 		{background-color:#E4E9C0;}
.bg_misc_shade  {background-color:#E5E5E5;}

.bg_error 		{background-color:#ff8888;}
.bg_error_shade  {background-color:#E5E5E5;}


/* === header =========================================== */
#header {
	background:#464C4B url(img/bg_header.gif) repeat-x;
		border-bottom:1px solid #DFDFDF;

}

#header #logo {
	float:left;
	width:7em;
}
#header #logo .text {
	padding-left:0.6em;
}
#header #logo .text a {
	text-decoration:none;
	color:#fff;
}

#header #logo .text a .extend {
    font-size:60%;
    vertical-align:top;
}


/*==== tabs ============================================= */
	#header #tabs {
		padding-top:0.5em;
		padding-left:1em;
		padding-bottom:1px;
		font-size:90%;
	    margin:    0px;
	}

	#header #tabs li {
		display:inline;
		/*padding:0px 12px 1px 12px;*/
		margin:0px 1px 0px 1px;

        border-bottom:1px solid #DFDFDF;
		background-color:#B1B1B1;
		-moz-border-radius:0px 7px 0px 0px;
		/*background-image:url(img/tab_upri.png) top right no-repeat;*/

	 	text-align:center;
        white-space:nowrap;
	}

	#header #tabs .current {
		padding:4px 2px 3px 2px;

        border-bottom-width:0px;
        background-color:#D7DADB;

		font-size:90%;
		font-weight:bold;
	}

	#header #tabs li:hover {
		background-color:#ffff90;
		border-bottom:2px solid #000000;
	}

	#header #tabs a {
		padding:0px 12px 1px 12px;
		color:#000000;
		text-decoration:none;
	}



    #header #tabs input {       /* seach field */
        width:80px;
        margin-bottom:0px;
        margin-top:0px;
        margin-right:5px;
        padding:0px;
        border:0px solid #808080;
        border-width:0px 0px 0px 0px;
        background-color:#ddd;

        font-size:70%;
    }
    #header #tabs input:focus {
        width:140px;
    }

/*--- login -------------------------------------------------*/
	#header #user_functions {
		float:right;
		padding:2px 0.61em 0px 0px;

		color:#fff;
		text-align:right;
	    white-space:nowrap;
		font-size:75%;
        line-height:95%;
        display:inline;
	}

	#header #user_functions a {
		color:#fff;
		text-decoration:none;
	}
	#header #user_functions a.name {
		font-weight:bold;
    }

	#header #user_functions a:hover {
	    color:#ff8;
	    text-decoration:underline;
	}


/*--- sub-navigation (breadcrumbs and options) --------------------------*/
	div#nav_sub {
		clear:both;
		padding:2px 1.22em 0px 45px;
		margin:0px;

		/*border-bottom:1px solid #808080;*/
		background:#A5A5A5 url(img/bg_header_sub.gif) bottom repeat-x;
		background-position:top left;

		font-size:80%;
		font-family:Tahoma;
		line-height:155%;
	}
	div#nav_sub a {
        color:#000;
	    text-decoration:none;
        padding:0px 3px 0px 6px;
        -moz-border-radius: 0px 10px 0px 0px;
        font-weight:bold;
	}

	div#nav_sub a.project {
        background-image:url(items/item_project.png);
        padding-left:18px;
        background-repeat:no-repeat;
        background-position:center left;
	}
	div#nav_sub a.person {
        background-image:url(items/item_person.png);
        padding-left:18px;
        background-repeat:no-repeat;
        background-position:center left;
	}

	div#nav_sub span.breadcrumbs em {
	    color:#fff;
	    font-weight:bold;
        padding:0px 3px 0px 0px;
        line-height:10%;
	}

	div#nav_sub span.breadcrumbs a.current {
        background-color:#fff;
        color:#000;
        font-weight:bold;
	}

    div#nav_sub span.breadcrumbs a.up {
	    padding:0px 0px 0px 4px;
	    font-weight:bold;
	    color:#fff;
    }


	div#nav_sub span.options a {
	    color:#000;
	    font-weight:bold;
	}

	div#nav_sub span.options em {
        color:#a6a6a6;

	}

	div#nav_sub span.options em.sep {
        color:#fff;
	}

	div#nav_sub a.current {
        color:#000;
        /*padding:0px 6px 0px 6px;*/
        font-weight:bold;
        -moz-border-radius: 0px 10px 0px 0px;
        background-color:#fff;
        padding-bottom:3px;

	}

    div#nav_sub span.options a:hover, div#nav_sub span.breadcrumbs a:hover {
        background-color:#e8e8e8;
        color:#000;
        -moz-border-radius: 0px 10px 0px 0px;
    }

    div#nav_sub span.help {
        text-align:right;
        margin-right:0px;
        position:absolute;
        right:10px;
    }

/* ==== feedback-line ==========================================*/

div.messages {
    background-color:#ffa;
    border-bottom:1px dashed #888;
    padding:2px;
    padding-left:5px;
    color:#000;
    font-size:80%;
}

div.messages p span.type{
    margin:0px;
    padding:0px;
    padding-left:18px;
    color:#200;
    font-weight:bold;
    background-position:center left;
    background-repeat:no-repeat;
}

div.messages p.note span.type {
    display:none;
}

div.messages p.warning span.type{
    background-image:url(img/icon_feedback_warning.png);
}

div.messages p.error span.type{
    background-image:url(img/icon_feedback_error.png);
}

div.messages p.hint span.type{
    background-image:url(img/icon_feedback_hint.png);
}

div.messages a {
    border-bottom:1px dotted #888;
}

div.messages a:hover {
    border-bottom:1px dotted #f00;
}


#message b{
    font-weight:normal;
    font-style:italic;
}


/* ==== headline ==========================================*/
	#headline {
		clear:both;
		padding:3px 4px 6px 2px;
		line-height:90%;
		z-index:300;
		float:left;
		position:relative;
	}

	#headline .type {
		font-size:70%;
		padding-left:1px;
		padding-bottom:10px;
		color:#808080;
	}
    #headline .type em {
		padding:0px 7px 2px 5px;
		color:#808080;
	}

	#headline .title {
		font-family:verdana;
		font-weight:bold;
		font-size:120%;
		padding-left:5px;
		font-style:italic;
	}
	#headline .title .minor {
		font-size:80%;
		font-style:normal;
	}
	#headline a {
	    text-decoration:none;
	}

    /*----- page functions ------------------*/
    div.page_functions {
        display:inline;
        position:absolute;
        right:0;
        vertical-align:top;
        padding:1px 3px 3px 55px;
        margin-top:1px;
        z-index:500;
        background-image:url(img/bg_pagefunctions.png);
        background-position:bottom left;
        background-repeat:no-repeat;
        font-family:"Tahoma";
        font-size:80%;
    }

    div.page_functions img {
        display:none;
    }
    div.page_functions a {
        color:#000;
        margin-right:9px;
        padding-right:10px;
        margin-left:2px;
        text-decoration:none;
        border-right:1px solid #aaa;
    }
    div.page_functions a:hover{
        text-decoration:underline;
    }

    div.page_functions a.last {
        border-right-width:0px;
        margin-right:0px;
    }

    /*
    div.page_functions2 span {
        display:inline;
        vertical-align:super;
        font-size:70%;
        padding-right:10px;
        padding-left:2px;

    }
    */

    div.page_functions span.group {
        color:#888;
        padding-left:15px;
        padding-right:3px;
    }

/* ---- edit functions ----*/
div.edit_functions {
    font-size:90%;
    margin:0.8em 0.8em 0.8em 0em;
    padding:0.2em 0.2em 0.2em 0em ;

}
div.edit_functions a {
    color:#000;
    margin-right:9px;
    margin-left:0px;
    text-decoration:none;

    /*background-color:#FFFFBA;*/
    padding:0px 6px 0px 6px;

    border:1px solid #8F8F8F;
    background:#E9E9E9 url(layout/bg_button.png);
    background-position: top left;
    cursor:pointer;

}
div.edit_functions a:hover{
    /*text-decoration:underline;*/
    background-color:#fff;
    background-image:none;
}



div.milestone_views {
    font-size:80%;
    float:right;
    position:relative;
    top:-1em;
}

/*------ content layout -----------------------------*/
div#layout{
	vertical-align:top;
	padding:0px 10px 3px 10px;
	clear:left;
}

div#c1 {
	width:25%;
    float:right;
    padding:0px;
    margin-left:5px;
    overflow:hidden;
}

div#layout > div#c1 {
	width:250px;
}


div#c2 {
    padding:2px 0px 0px 0px;
    margin-right:10px;
    padding-bottom:100px;
    width:70%;
    overflow:hidden;

}

div#layout > div#c2 {
    width:auto;
    /*margin-right:280px;*/
    overflow:hidden;
}

#cr {
}

/**
* special content-layout for pages
*/
body.loginForm h1,
body.loginFormSubmit h1,
body.loginForgotPassword h1,
body.loginForgotPasswordSubmit h1
{
    padding:1em 0 0.5em 0px;
}

body.loginForm div.block,
body.loginForgotPassword div.block
 {
 margin: 4em auto 10em auto;
 width:30em;
}


/**
*
* style not checked below this line
*/

/*---- form --------------------------------------------------------*/
div.form {
    padding:10px 0px 0px 0px;
    text-align:left;
    margin:3px;
    font-size:80%;
    max-width:700px;
}

    .form input:focus, textarea:focus {
        border-color:#000;
    }

    .form p {
        padding:0px;
        margin:0px;
        color:#555;
        clear:left;
    }
    .form  label {
        font-size:100%;
        width:19%;
        display:block;
        float:left;
        text-align:right;
        padding-top:4px;
    }


    .form p.text {
        margin:1em 1em 1em 19% ;
        color:#555;
        clear:left;
    }

    .form .inp {
        width:78%;
        margin:2px 0px 2px 4px;
        border:1px solid #bbb;
        padding:1px 2px 1px 3px;
        font-family:verdana;
        -moz-border-radius:4px;
    }

    .form .inp.captcha{
        clear:left;
        width: 20%;
    }

    .form .required {
        background-color:#ff8;
    }
    .form .invalid {
        border-width:2px;
        border-color:#f00;
    }

    .form .datetime .inp_date{
        width:30%;
        margin:2px 0px 2px 4px;
        border:1px solid #bbb;
        padding:1px 2px 1px 3px;
        font-family:verdana;
        -moz-border-radius:4px 1px 1px 4px;
    }
    .form .datetime .inp_time{
        width:10%;
        margin:2px 0px 2px 4px;
        border:1px solid #bbb;
        padding:1px 2px 1px 3px;
        font-family:verdana;
        -moz-border-radius:4px 1px 1px 4px;
    }

    .form .datetime .button_calendar {
        font-size:0.06em;
        padding:13px 9px 2px 9px;
        -moz-border-radius:0px 0px 0px 0px;
        background:#BBBBBB url(img/bg_button_calendar.gif);
        background-repeat:no-repeat;
        color:#bbb;
        cursor:pointer;
    }
    .form .datetime .slider_time {
        padding:13px 12px 2px 12px;
        font-size:0.06em;
        -moz-border-radius:3px 4px 4px 3px;
        background:#BBB url(img/bg_slider_time.gif);
        color:#bbb;
        background-repeat:no-repeat;
        cursor:move;
        border-left:1px solid #EEEEFF;
    }


    .form .inp_dtime {
        width:7%;
        margin:2px 0px 2px 4px;
        border:1px solid #bbb;
        padding:1px 2px 1px 3px;
        font-family:verdana;
        -moz-border-radius:4px;
    }

    .form .date input {
        width:20%;
        margin:2px 0px 2px 4px;
        border:1px solid #bbb;
        padding:1px 2px 1px 3px;
        font-family:verdana;
        -moz-border-radius:4px;
    }

    .form .date .button {
        border:1px solid #bbb;
        /*vertical-align:center;*/
        padding:1px 1px 1px 1px;
        font-family:verdana;
        -moz-border-radius:4px;
        font-size:80%;
        background-color:#ddd;
        cursor:pointer;
    }

    .form .checker {
        padding:2px 2px 1px 3px;
        margin:5px 0px 2px 4px;
        display:block;
        vertical-align:bottom;

    }




    .form textarea {
        width:78%;
        border:1px solid #bbb;
        padding:1px 2px 1px 3px;
        margin:2px 0px 2px 4px;
        font-size:100%;
        font-family:verdana;
        -moz-border-radius:4px;
    }

    .form select {
        margin:2px 0px 2px 4px;
        border:1px solid #bbb;
        padding:0;;
        border-width:1px;
    }

    .form span.checker {
        clear:both;
        width:auto;
        margin:6px 0px 5px 4px;
    }

    .form span.checker label {
        float:left;
        display:inline;
        padding:0px;
        margin-left:6px;
        text-align:left;
        cursor:pointer;
        width:auto;
    }


    .form span.checker input {

        float:left;
        padding:1px 2px 0px 3px;
        margin:4px 0px 3px 115px;
        display:inline;
    }


    /*--- button area -------------------*/
    div.formbuttons  {

        background-image:url(layout/bg_form_button_area.png);
        background-repeat:repeat-x;
        padding:3px 10px 3px 3px;

        margin:10px 0px 0px 0px;
        text-align:right;
        /*border-top:1px solid #aaa;*/
        clear:both;
    }


    .button  {
        margin:0px 0px 0px 3px;
        padding:2px 20px 1px 20px;
        border:1px solid #8F8F8F;
        background:#E9E9E9 url(layout/bg_button.png);
        background-position: top left;
        cursor:pointer;
    }

    .button:hover{
        background-color:#fff;
        background-image:none;
    }
    div.formbuttons .button:focus{
        background-color:#fff;
        background-image:none;
    }

    div.formbuttons .submit {
        border:2px solid #8F8F8F;
    }

    div.formbuttons .apply,
    div.formbuttons .cancel{
        border:1px solid #8F8F8F;
    }

    /*div.formbuttons span.option {
        clear:both;
        margin:10px 10px 0px 0px;
        border:0px solid #bbb;
        line-height:30px;
        float:left;
    }

    div.formbuttons > span.option {
        line-height:0px;
        padding:0px;
    }


    .form .formbuttons .option .checker {
        margin-top:-5px;
        float:left;
        vertical-align:middle;
    }
    div.formbuttons > span.option > .checker {
        margin:10px 5px 0px 0px;
    }

    div.formbuttons  span.option label {
        width:auto;
        cursor:pointer;
    }
    */

    div.formbuttons div.formoptions {
        text-align:left;
        float:left;
    }

    div.formbuttons div.formoptions a {
        margin-right:1em;

    }

    div.formbuttons div.formoptions label {
        text-align:left;
        display:inline;
        float:left;
        width:auto;
        margin:0px;
        padding:0px;
    }

    div.formbuttons div.formoptions input {
        display:inline;
        text-align:left;
        margin:3px 3px 0px 0px;
        float:left;

    }


    /* --- tabgroup ---- */
    div.tabgroup {
     clear:both;
     margin:0.5em 1em;
    }
    div.tabgroup ul {
     margin:0;
     padding:0px 0px 0px 1em;
     list-style:none;
     background-image: url(layout/bg_tabgroup_tabrow.png);
     background-repeat:repeat-x;
     background-position:bottom;
     height:1.8em;

    }

    div.tabgroup li.tab_header a {
     color:#777;
     border:0;
     display:block;
     padding:0em .6em;
    }
    div.tabgroup li.tab_header {
      background-color:#eee;
      float:left;
      margin-right:.3em;
      border:1px solid #D5D5D5;
      border-width: 1px 1px 0px 1px;
      height:1.65em;
    }
    div.tabgroup li.tab_header.Active {
      background-color:#fff;
      height:1.8em;

    }


    div.tabgroup li.Active a {
     color:#000;
    }
    div.tabgroup li a:hover {
     background-color:#fff;
    }
    div.tabgroup div.tab_body {
     background-image: url(layout/bg_tabgroup_tabbody.png);
     background-repeat:repeat-x;
     background-position:top;
     padding:0.8em .7em 1em 1em;
     border:1px solid #d5d5d5;
     border-width:  0px 1px 1px 1px;
     clear:both;
    }

    div.tabgroup div.Hidden {
        display:none;
    }
    div.tabgroup div.tab_body label {
        position:relative;
    }
    .block label {
        position:relative;
    }


/*--- quick new -------------------------------*/
#quicknew {
    background-color:#f1f5d2;
    padding:2px 10px 2px 10px;
    border:1px solid #e8ee87;
    text-align:left;
    font-size:100%;
    -moz-border-radius:5px;
}

    #quicknew label {
        font-size:90%;
        float:left;
        text-align:right;
        padding:2px 5px 4px 2px;

    }

    #quicknew select {
        font-size:60%;
    }

    #quicknew .inp {
        width:60%;
        margin-left:5px;
        margin-right:10px;
        border:1px solid #bbb;
        padding:1px 2px 1px 3px;
        font-size:100%;
        font-family:verdana;
        -moz-border-radius:4px;
    }
    #quicknew .help {
        text-align:right;
        padding-left:10px;
        font-size:70%;
    }

    #quicknew .button{
        border:1px solid #fff;
        background-color:#888;
        color:#444;
        font-weight:bold;
        font-size:90%;
        -moz-border-radius:4px;
        padding:1px 5px 1px 5px;
		cursor:pointer;
    }
    #quicknew .button:hover{
        background-color:#ccc;
    }

    #quicknew span.hint {
        display:block;
        font-size:60%;
        color:#888;
        padding-left:10%;
    }

    #quicknew span.hint b{
        font-style:italic;
    }




/*--- block - -----*/
.block_opened {
}

.block_closed {
}

/*----- blocks ---------------------------------------*/
div.block {
 	background-image: url(layout/bg_block.png);
 	background-repeat:repeat-y;
 	background-position:right;
 	border-left:1px solid #C8C8C8;
 	border-bottom:1px solid #C8C8C8;
 	position:relative;
}
    /**
    * additional layoutcontainer
    */
    div.block b.extra {
        height:5px;
        width:1px;
        display:block;
        position:relative;
        background-color:#fff;
        float:left;
        line-height:0.01;
        overflow:clipped;
        left:-7px;
        top:-6px;
    }

	div.closed {
		padding:0px;
		margin:0px;
		margin-bottom:1px;
	}

	div.opened {
		margin-bottom:3px;
		margin-top:3px;
	}

    /* texts the refer to information not shown (like number of a project's tasks which are NOT shown at home*/
    .block .notShown {
        font-size:80%;
        color:#888;
    }


	/*--- header ----*/
	.block .header {
     	background: url(layout/bg_block_header.png);
     	background-repeat:no-repeat;
     	background-position:top right;
		padding:0.4em 2px 0px 0.4em;
		font-weight:bold;
		height:20px;

	}



    /* IE 6.0 */
    div.block.reduced_header h2 {
     	background: url(layout/bg_block_header.png);
     	background-repeat:no-repeat;
     	background-position:top right;
    }


    /* good browsers */
    div.block.reduced_header > div.extra_top {
		padding:0.4em 2px 0px 0.4em;
		position:releative;
		height:15px;
     	background: url(layout/bg_block_header.png);
     	background-repeat:no-repeat;
     	background-position:top right;
    }

    div.block.reduced_header > h2 {
        background-image:none;
    }


    /* hide from IE6 */
    div.block.reduced_header > div.extra_top {
        margin-bottom:-15px;
		position:releative;

    }

    /*--- toggle blocks ---*/
	.opened .header h2 {
        background-image:url(img/toggle_block_open.gif);
        background-repeat:no-repeat;
        background-position:top left;
    }

	.closed div.header h2{
        background-image:url(img/toggle_block_closed.gif);
        background-repeat:no-repeat;
        background-position:top left;
	}
	.block  h2 {
		cursor:pointer;
        padding-left:16px;
        font-size:90%;
		position:releative;

	}


	.block .header h2:hover {
		cursor:pointer;
	}

	.block .header h2 img {
		padding:0px 5px 0px 2px;
	}

	.header span.block_options {
	    float:right;
	    position:relative;
	    top:-1.4em;
	    font-weight:normal;
	    font-size:70%;
	    padding-right:10px;
	}

    .header span.block_options span {
        margin:0px 0px 0px 8px;
        padding:0px;
    }
	.header span.block_options span.active a{
        text-decoration:none;
        color:#000;
        font-weight:bold;
	}

    .block div.empty {
        padding:0px 0px 2px 17px;
        font-size:80%;
    }


/*----- listBlock ----------------------------------------*/
	table.list {
		border-collapse:collapse;
		border-width:0px;
		margin:0px 2px 0px 0px;
		padding:0px;
		/*border-bottom:1px solid #808080;*/
		margin-bottom:0px;
        width:100%;
		border-right:2px solid #ddd;
		border-left:1px solid #ddd;


	}

    div.block > div.table_container {
		clear:both;
        /*overflow:hidden;*/    /* causes hidden table rows with Firefox 1.0 */
        margin-right:1px;
    }

    /* use selector to hide this from IE6 */
    .block > table.list {
		/*border-left:2px solid #ddd;*/
        border-width:0px;
        margin-right:auto;
        width:auto;
        clear:both;
        margin-right:100px;
        border:0px solid #000;
        overflow:clipped;
    }

	table.list th {
		font-weight:bolder;
		font-size:70%;
		text-align:left;
		padding:0px 3px 1px 2px;
		/*border-bottom:1px solid #808080;*/
		/*border-right:1px solid #a0a0a0;*/
		/*border-left:1px solid #e8e8e8;*/
		border-right:1px solid #ffffff;
		background-image:url(layout/bg_list_header.png);
		background-repeat:repeat-x;
		background-position:bottom;

		white-space:nowrap;
		vertical-align:bottom;
        line-height:90%;
        font-weight:normal;
	}
	table.list  .sort_primary {
		border-bottom:2px solid #808080;
	}

	table.list  .sort_secondary {
		border-bottom:1px solid #a0a0a0;
	}

	table.list th a{
		text-decoration:none;
        color:#444;
	}
	table.list th a:hover {
		text-decoration:underline;
	}
	table.list th img {
		border:none;
		padding-right:0px;
	}


	table.list .select_col {
		padding:0px;
		margin:0px;
		text-align:center;
		vertical-align:top;
	}

	table.list td {
		border:0px solid #fff;
		border-width:0px 1px 0px 0px;
		margin:0px;
		padding:3px 20px 3px 0px;
		font-size:80%;
		vertical-align:middle;
        cursor:pointer;
        vertical-align:top;
	}


	table.list tr.group td {
	    padding:3px 0px 0px 3px;
	    background:#bbc url(img/bg_grouped_list.png);
	    background-repeat:repeat-x;
	    background-position:top right;
	    color:#fff;
	    font-size:80%;
	    font-weight:bold;
	    font-style:italic;

	}

	table.list tr.group td a {
	    color:#fff;
	    padding:3px;
	}

	table.list td.narrow {
		padding:0px;
	}

    table.list tr.isFolder {
        font-weight:bold;
    }

    table.list td.status {
        font-size:60%;
        font-weight:bold;
    }

    table.list td.new {
        color:#E57700;
        font-size:70%;
    }

    table.list td.open {
        color:#888;
        font-size:60%;
    }

    table.list td.done {
        color:#349118;
    }

    span.new {
        color:#E57700;
        font-weight:bold;
    }

    table.list td .entity {    /* entities like 'D' 'h' '�'*/
        font-size:80%;
    }

    table.list td.label {    /* entities like 'D' 'h' '�'*/
        /*text-align:center;*/
    }

    .label1,.label2,.label3,.label4,.label5,.label6,.label7,.label8,.label9,.label10,.label11 {
        /*padding-left:4px,
        padding-right:4px;
        margin-left:4px;*/
        /*border:1px solid;*/
        /*border-left-width:5px;
        border-right-width:5px;*/
        -moz-border-radius:6px;
        font-size:80%;
        font-weight:bold;
        color:#888;
    }

    /*1- Important*/
    .label1 {
        color:#f00;
    }
    /*2- Bug*/
    .label2 {
        color:#282;
    }



    .diz {          /*note that task has description*/
        font-size:70%;
        color:#888;
        padding-left:5px;
    }





    .nowrap {
        white-space:nowrap;

    }

    .list td.number{
        text-align:right;
    }

    .list td.timeDue{
        text-align:right;
        white-space:nowrap;
    }
    .overdue{
        color:#c00;
        font-weight:bold;
    }


	table.list td img {
		border:none;
	}

	table.list td a {
		text-decoration:none;
        /*padding-left:5px;*/
	}


    table.list tr.isDone a {
		text-decoration:line-through;
    }

	table.list tr td span.isDone {
		text-decoration:line-through;
	}

    .list tr td span.isDone a {
		text-decoration:line-through;
	}

    table.list td.right {
        text-align:right;
    }

    table.list tr.current {
        font-weight:bold;
        background-color:#ffffff;
        /*border:2px solid #888;
        border-width:2px 2px 2px 2px;*/

    }


	table.list td a:hover {
		text-decoration:underline;
	}

    table.list tr td {
		background-color:#fff;
    }


	table.list tr.even td {
		background-color:#f8f8f8;
	}

    table.list tr.changed span.date {
        font-weight:bold;
        color:#E57700;
    }


    /* --- efforts --- */
	table.list  tr.isNewDay td{
        border-top:2px solid #000;
	}

    table.list tr.pub_assigned {
        border-right:4px solid #B21A4B;
    }

    table.list tr.pub_suggested {
        border-right:4px solid #F3975E;
    }

    table.list tr.pub_client {
        border-right:4px solid #C0CB94;
    }
    table.list tr.pub_client_edit {
        border-right:4px solid #788D67;
    }

    table.list tr.pub_private {
        border-right:4px solid #D50000;
    }
    table.list tr.pub_suggested {
        border-right:4px solid #45B3AD;
        opacity:0.5;
    }

    table.list  span.name {
        font-weight:bold;
    }


	/*--- .list_footer --------------------*/
    .block .footer .items{
        float:left;
        display:inline;
    }

    .block .footer .pages{
        float:left;
        display:inline;
    }


    .block .footer {
        text-align:left;
        vertical-align:top;
    }
    .block .footer .summary {
        font-size:90%;
        padding-left:10px;
        vertical-align:top;
        text-align:right;
        margin:2px 3px 3px 1px;
    }

    .block .footer .functions {
        margin:0px;
        padding:0px;
    }

    .block .footer>.functions {
        margin-top:1px;
        float:left;
    }
    .block .footer select {
        text-align:left;
        margin-right:10px;
        font-size:70%;
        padding:0px;
        margin:0px;
    }

    .block div.footer span.links {
        padding-left:1em;
        font-size:   90%;
    }
    .block div.footer span.links a {
        padding-right:  1em;
    }

    .list .indention{
        padding-left:10px;
    }
    .list .indented{
        /*padding-left:22px;*/
        /*background-image:url(img/bg_indented.gif);
        background-repeat:no-repeat;*/
    }
    .folder_none{
        padding-left:14px;
    }
    .list .folder_collapsed{
        /*padding-right:7px;
        font-weight:bold;*/
    }
    .list .folder_open{
        /*padding-right:7px;
        font-weight:bold;*/
    }


    div.block div.footer {
        background-image:url(layout/bg_block_footer.png);
        background-repeat:repeat-x;
        background-position:bottom;
        padding-top:0.1em;
        padding-bottom:0.3em;
        margin-right:2px;
    }
	.block .footer .icons {
        padding-left:20px;
        background-image:url(img/arrow_checkbox_functions.gif);
        background-repeat:no-repeat;
        padding-right:3px;
        margin-right:5px;
	}

    .footer>span.icons {
        float:left;
    }

	.block .footer .icons img{
		padding-left:5px;
		padding-right:5px;
	}

	.block .footer .icons a img {
		border:none;
	}

	.block .footer .list_functions {
        font-size:80%;
		padding-left:30px;
		padding-top:0px;
        background-image:url(img/arrow_checkbox_functions.gif);
        background-repeat:no-repeat;
        padding-right:3px;
        margin-right:5px;
	}

    .footer>span.list_functions {
        float:left;
    }

	.block .footer .list_functions a {
        color:#C70000;
        margin-right:9px;
        padding-right:10px;
        margin-left:2px;
        text-decoration:none;
        border-right:1px solid #888;

	}

	.block .footer .list_functions a:hover {
	    text-decoration:underline;
	}

	.block .icons .notallowed {
		opacity:0.2;
	}

	.block .icons .inactive {
		opacity:0.6;
	}

	.block .icons .inactive:hover {
		opacity:0.1;
	}

	.block .icons img:hover {
		background-color:#ffffff;
	}

    /*--- details in grouped list stye -------------------------*/
    .block table tr.details {
        background-color:#fff;
        color:#888;
        font-size:80%;
        border-bottom:1px  solid #ddd;

    }
    .block table tr.details td{
        padding-left:2em;
        padding:0px;
    }


    .block table tr.details div {
        overflow:hidden;
        padding:0px;
        margin:0px;
    }

    .block table tr.details div.severity {
        padding-left:1em;
        float:left;
        width:10em;
    }

    .block table tr.details div.description {
        padding-left:1em;
        float:left;
        width:40%;
    }

    .block table tr.details img {
        width:50%;
    }

    .block table tr.details div.steps {
        padding-left:1em;
        float:left;
        width:20%;
    }
    .block table tr.details div.assigned_to {
        padding-left:1em;
        float:right;
        width:15%;
        font-size:110%;
        text-align:right;
    }


    /*--- list changes -----------------------*/
    table.list td span.extract {
        font-size:90%;
        line-height:120%;
    }
    table.list td span.sub {
        font-size:90%;
        color:#898989;
        line-height:120%;
    }
    table.list td span.sub a {
        color:#619DD5;
    }


    table.list td span.who {
        white-space:nowrap;
    }

    table.list tr.changeList td {
        vertical-align:top;
        padding:4px 1px 4px 2px;
        line-height:100%;
    }


    /* ---- documentation list ----------------*/
    table#docu {
        background:none;
    }

    table#docu th{
        display:none;
    }

    table#docu tr.isFolder a{
        font-weight:normal;
    }

    table#docu td.current a{
        color:#000;
        font-weight:bold;
    }

    table#docu td {
        background:none;
    }

    table#docu td.odd {
        background:none;
    }

    /* ---- list comments ----------------*/

    table#comments td.details{
        vertical-align:top;
        font-size:90%;
    }



    /* ---- Comment tables -------------------*/
    table.list span.comments {
        font-weight:normal;
        background-image:url(items/item_discussion.png);
        background-repeat:no-repeat;
        background-position:top right;
        padding-right:13px;
        color:#888;
    }

    table.list td.details p.poster {
        font-weight:bold;
    }

    table.list td.details.by_cur_user p.poster a{
        color:#888;

    }

    table.list td.details div.edit_functions a {
        border:1px solid #8F8F8F;
        /*padding-left:0px;*/
    }


    table.list td.details  div.edit_functions a:hover{
        border:1px solid #aaa;
        text-decoration:none;
        background-color:#fff;
        background-image:none;
    }

    table.list td.by_cur_user {
        color:#888;
    }

    table.list td.by_cur_user span.title a {
        color:#888;

    }

    table.list td.details {
        padding-left:4px;
    }

    table.list div.comment_block {
        float:left;
    }

    table.list div.comment_block span.title {
        font-weight:bold;
    }

    table.list div.comment_text {
        padding-left:18px;
    }



    /* ---- list milestones ----------------*/
    table.versions td, table.milestones td, table#comments td {
        vertical-align:top;
        border-bottom:1px dashed #ccc;
    }

    /* ---- list files ----------------*/
    table#files td {
        vertical-align:top;
        border-bottom:1px dashed #ccc;
    }

    table#files td a.thumb{
        float:right;
        margin-left:4px;
        border:1px solid #888;
    }
    table#files td.summary {
     padding-left:3px;
    }

    /* ---- team list ----------------*/
    table#projectpersons span.person{
     display:block;
     float:left;
     overflow:hidden;
     white-space:nowrap;
     padding-right:5px;


    }
    table#projectpersons td{
      padding-right:1px;
      vertical-align:bottom;
    }


.botton {
    border:0px;
    background-color:#ff0000;
    font-weight:bold;
}

div.description {
  font-size:80%;
}


/*--- project news ---------*/
div.newsBlock {
    border-bottom:1px dashed #888;
    padding-bottom:0.5em;
}
div.newsTitle {
    margin-top: 1em;
    margin-bottom: 0.5em;

}

div.newsTitle h3 a {
    font-size:120%;
    color:#000;
    font-family: "Arial Black";
    font-weight: normal;
}

div.newsBlock span.comments {
    display:block;
    text-align:right;

}

/*---- docuNavigation --------------------------*/
.block div.docuNavigation {
    font-size:  84%;
}
.block div.docuNavigation ul {
    margin:     0px;
    padding:     0px;
    list-style: none;
    margin-right:2px;
}

.block div.docuNavigation li {
    margin:     0px;
    padding:    0px;
    padding-left:2px;
}
.block div.docuNavigation ul li a {
    padding:    0.2em 0.2em 0.2em 1.5em;
    display:    block;
    background-repeat:  no-repeat;
    background-position:center left;
}

.block div.docuNavigation ul.parents li {
    background-image:url(layout/bg_docu_navi_parents.png);
    background-repeat:  repeat-x;
    background-position:bottom;
}

.block div.docuNavigation ul.parents li a {
    background-image:url(layout/bg_docu_navi_parent_icon.png);
}

.block div.docuNavigation ul.parents li a.current {
}

.block div.docuNavigation ul.children li {
    margin-left:2em;
    font-size:  80%;
}

.block div.docuNavigation a.current {
    font-weight:bold;
    color:      #000;
}


.block div.docuNavigation ul a.current.folder {
    background-image:url(img/toggle_folder_open.gif);
}

.block div.docuNavigation ul a.folder {
    background-image:url(img/toggle_folder_closed.gif);
}


/*---- functionblock ---------------------------*/
/*---- information-block / summary ----*/
.block div.text{
    /*background-color:#f6f9df;*/
    /*border:2px solid #aaa;
    border-width:0px 2px 0px 2px;*/
    padding:3px;
    font-size:80%;
    margin:0px 2px 0px 5px;
    -moz-border-radius:7px;
    /*background-color:#EFEFEF;*/

}

    .block div.text a {
        border-bottom:1px dotted #888;
    }

    .block div.text a:hover {
        border-bottom:1px dotted #f00;
    }

    .block div.text ul {
        list-style:square;
    }
    .block div.text li{
        margin-left:10px;

    }

    .block div.text p{
        /*clear:both;*/ /* this clear messes multi-column display in firefox */
        margin:5px 0px 0px 80px;
        padding:0px 0px 0px 0px;

    }
    .block div.text p.description {
        margin:0px 0px 0px 0px;
    }
    .block div.text p.description label {
        display:none;
    }


    .block div.text p.text{
        margin:0px 0px 0px 0px;
    }

    .block div.text p label{
        width:90px;
        display:block;
        float:left;
        text-align:right;
        padding-top:0.25em;
        padding-right:5px;
        margin-left:-45px;
        font-size:80%;
        /*line-height:120%;*/
        color:#666;
    }
    .block div.text > p label { /* hidden from IE5.0 */
        margin-left:-90px;

    }

    .block div.text p.edit { /* hidden from IE5.0 */
        float:right;
        display:inline;
        width:auto;
        position:relative;
        height:0px;

    }

    .block div.text a {
        text-decoration:none;
    }

    .block div.text a.dummy {
        text-decoration:line-through;
    }
    .block div.text div.labeled {
        margin:5px 0px 0px 85px;
        padding:0px 0px 0px 0px;
        max-width:600px;
    }

    .block div.text div.labeled {
        margin:5px 0px 0px 85px;
        padding:0px 0px 0px 0px;
        max-width:600px;
    }
    .block div.text div.labeled label{
        width:95px;
        display:block;
        float:left;
        text-align:right;
        padding-top:0.2em;
        padding-right:5px;
        margin-left:-45px;
        font-size:80%;
        /*line-height:120%;*/
        color:#666;
    }

    .block div.text div.labeled > label { /* hidden from IE5.0 */
        margin-left:-100px;

    }
    /* dummy tag to clear floating behind framed images
       (with float the framed would have 100% width) */
    .block span.clear {
        clear:left;
        display:block;
        height:1px;

    }

/*=== page footer ===========================*/
#footer {
	clear:both;
	color:#b0b0b0;
	border-top:1px solid #e0e0e0;
	padding:0px 10px 0px 18px;
	font-size:60%;
    float:right;

}

#footer a {
    color:#88f;
    text-decoration:none;
}

#footer div {
	margin:0;
	padding:0;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #a0a0a0;

}

#footer div.error_list {
    border:1px solid #f00;
    padding:3px;
    margin:2px;

}

#footer div.error_list p {
    padding:2px;
    margin:0px;
    color:#800;
}

.contextMenus {
    position:absolute;
    background-color:#cfcfcf;
    border-style:solid;
    border-width:1px;
    border-color:#EFEFEF #505050 #505050 #EFEFEF;
    visibility:hidden;
    padding:0px;
    -moz-border-radius:0px 6px 6px 6px;
}
.menuItem {
    cursor:pointer;
    font-size:9pt;
    font-family:Tahoma, Arial, Helvetica, sans-serif;
    padding:2px 5px 2px 9px;
    text-decoration:none
}
.menuItemOn {
    cursor:pointer;
    font-size:9pt;
    padding:2px 5px 2px 9px;
    font-family:Tahoma,Arial, Helvetica, sans-serif;
    background-color:#008;
    color:#fff;
}
    .contextEntry {
        font-weight:bold;
        color:darkred;
        cursor:pointer
    }


    table.backtrace{
        border:1px solid #888;
        border-collapse:collapse;
    }

    table.backtrace td{
        border:1px solid #888;
        padding:4px;
    }

    table.backtrace th {
        background-color:#888;
        color:#fff;

    }

/*---- estimated --------------------*/
div.estimated {
 background-repeat:repeat-x;
 background-position:center left;
 height:10px;
}

div.hours {
  background-image:url(img/bg_estimated_hours.png);
}

div.hours_completed {
  background-image:url(img/bg_estimated_hours_completed.png);
  float:left;
}
div.hours_risk {
  height:10px;
  background-color:#fff;
  border-right:1px solid #800;
  float:right;
  opacity:0.6;
}


div.days {
  height:9px;
  background-image:url(img/bg_estimated_days.png);
}

div.days_completed {
  height:9px;
  background-image:url(img/bg_estimated_days_completed.png);
  float:left;
}

div.days_risk {
  height:9px;
  background-color:#fff;
  border-right:1px solid #800;
  float:right;
  opacity:0.6;
}


div.weeks {
  height:14px;
  background-image:url(img/bg_estimated_weeks.png);
}

div.weeks_completed {
  height:14px;
  background-image:url(img/bg_estimated_weeks_completed.png);
  float:left;
}

div.weeks_risk {
  height:14px;
  background-color:#fff;
  border-right:1px solid #800;
  float:right;
  opacity:0.6;
}



/*---- presets ----------------------*/
div.presets {
 font-size:70%;
}

div.presets a {
 text-decoration:none;
 border-right:1px solid #ccc;
 padding-left:4px;
 padding-right:3px;
}

div.presets a.current {
 color:#800;
 font-weight:bold;
}


/*---- wiki -------------------------*/
div.wiki {
    line-height:140%;
    font-size:110%;
    max-width:50em;
}

div.wiki pre {
    padding:0.5em 0.2em 0.5em 0.4em;
    border:1px dashed #ccc;
    background-color:#f8f8f8;
    font-size:80%;
    font-family:"Courier";
    font-weight:normal;
    line-height:125%;
    margin-left:10px;
    margin:0px 0px 10px 10px;
    clear:right;
    overflow:auto;
    width:95%;  /* fix IE 6.0 */

}
/*  hide monaco from IE 6.0 */
div.wiki > pre {
    font-family:"Monaco","Lucida Console","Bitstream Vera Sans", courier;
}


div.wiki code {
    font-size:110%;
    font-family:"Courier New";
    color:#555;
    clear:both;

}

div.wiki p.code_from {
 background-color:#ddd;
 margin:0px;
 padding:0px 5px 0px 10px;
 color:#999;
 position:relative;
 font-size:80%;
 line-height:130%;
 display:inline;
 float:right;
 -moz-border-radius:5px 0px 0px 0px;
 margin:0px;
 position:relative;
}


div.wiki p.code_from span {
 font-weight:bold;
 color:#444;
 line-height:150%;
}


div.wiki h1,div.wiki h2, div.wiki h3,div.wiki h4, div.wiki h5 {
    margin:10px 10px 5px 0px;
    padding:0px;
}
div.wiki h1 {
    font-size:140%;
}

div.wiki h2 {
    font-size:120%;
}

div.wiki h3 {
    font-size:110%;
}

div.wiki ul, div.wiki ol {
    padding-left:2.4em;
    margin-left:0px;
}

div.wiki li{
    /*padding:0px 0px 2px 0px;
    margin:0px;*/
}


div.wiki em {
    /*font-weight:bold;*/
    font-family:"Georgia","Palatino Linotype","Palantino","Georgia";
    font-size:110%;
    color:#060;
}

div.wiki div.frame {
    background-color:#eee;
    padding:5px;
    -moz-border-radius:7px;
    font-size:80%;
    white-space:normal;
    line-height:100%;
    display:block;
    float:left;
    line-height:120%;
    margin-bottom:1em;

}

div.wiki div.frame img {
    display:block;
    margin:0px;
    padding:0px;
    border:none;
}

div.wiki div.frame span {
    width:25em;
    padding-top:0.5em;
    display:block;
}


div.wiki img {
    margin:1px;
    border-width:0px;
}
div.wiki img:hover {
    margin:0px;
    border-width:1px;
}

div.wiki img.left {
    float:left;
}

div.wiki img.right {
    float:right;
}


div.wiki div.left {
    float:left;
}

div.wiki div.right {
    float:right;
}

div.wiki hr {
  border: 1px dashed #ccc;
  border-width:1px 0px 0px 0px;
  clear:both;
  margin:1.5em 10em 0px 0px;
  padding: 0px;
  display:block;
}





div.wiki span.end {
    clear:both;
    display:block;
}

span.hint_wiki_syntax {
    font-size:70%;
}
span.hint_wiki_syntax a {
}

div.wiki a {
    border-bottom:1px dotted #888;
}

div.wiki a:hover {
    border-bottom:1px dotted #f00;
}

/*
div.wiki a.item {
    padding-left:17px;
    background-image:url(items/item_item.png);
    background-repeat:no-repeat;
    background-position:center left;
}
*/

div.wiki a.isDone {
	text-decoration:line-through;
}

div.wiki a.person {
    padding-left:17px;
    background-image:url(items/item_person.png);
    background-repeat:no-repeat;
    background-position:center left;
}

div.wiki p.quote {
    font-family:Georgia, Times;
    color:#444;
    margin:1em 1em 0em 1em;
    font-style:italic;
}


div.wiki p.quoted_from {
    font-family:"georgia";
    color:#888;
    font-size:80%;
    text-align:right;
}

div.wiki table {
    border:1px;
    border-collapse:collapse;
    margin:5px 0px 7px 10px;
}

div.wiki table td,
div.wiki table th {
    border:1px solid #888;
    padding:1px 5px 1px 5px;
}

div.wiki table th {
    background-color:#888;
    color:#fff;
    font-size:80%;
    margin:0px;
    line-height:130%;
}
div.wiki .edit_chapter:hover {
    background-color:#ee8;
}

/*----------- diff table -----------------------------------*/
div.diff h2 {
    font-size:100%;
    padding:0.2em 0.2em 3px 0px;
    float:left;
    clear:left;
    width:9em;
    text-align:right;
}
div.diff table.nav {
    width:80%;
    float:left;
    margin-left:4.6em;
    -moz-border-radius:4px 4px 4px 4px;
}

/* hidden from IE6.0 */
div.diff > table.nav {
    margin-left:9.2em;
}



div.diff table.nav td.older {
    background-color:#FFFFC7;
    border:1px solid #F6F6A0;
    margin-right:2px;
    width:50%;
    text-align:right;
    padding-right:5px;
}

div.diff table.nav a {
    color:#C70000;
    margin-right:9px;
    padding-right:10px;
    margin-left:2px;
    text-decoration:none;
    font-size:90%;
}

div.diff table.nav a:hover {
    text-decoration:underline;
}

div.diff table.nav td.older a {
    float:left;

}

div.diff table.nav td.newer {
    background-color:#FFFFC7;
    border:1px solid #F6F6A0;
    width:50%;
    padding-left:5px;
    text-align:right;
}
div.diff table.nav td.newer select {
    float:left;
}


table.diff  {
    width:80%;
    float:left;
}

table.diff td{
    width:50%;
    font-size:80%;
    font-family:"Verdana";
    vertical-align:top;
    padding:2px;
    -moz-border-radius:3px;
}

table.diff td.add{
    background-color:#cfc;
}

table.diff td.deleted{
    background-color:#FFCCCC;
    color:#A60000;
    text-decoration:line-through;
}

table.diff td.changed{
    background-color:#FBDD88;
    color:#936B34;
}


table.diff td.changed span.changed{
    font-weight:bold;
    color:#000;
}

table.diff td.changed span.add{
    font-weight:bold;
    color:#1D761D;
}

table.diff td.changed span.deleted{
    font-weight:bold;
    color:#D72727;
    text-decoration:line-through;
}

table.diff td.changed span.add_place{
    border-left:2px solid #fff;
    padding-right:2px;
}

table.diff td.changed span.delete_place{
    border-left:2px solid #fff;
    padding-right:2px;
}




table.diff td.copy{
    background-color:#ddd;
    color:#888;
}

table.diff td.neutral{
    background-color:#eee;
    color:#888;
}





table.list tr.selected td{
    background-color:#5761E2;
    color:#fff;
}

table.list tr.selected td a{
    color:#fff;
}

table.list tr.selected td span{
    color:#fff;
}


/*
body #outer {
    margin:0px;
    padding:0px;
    top:0px;

    left:0px;
    margin-right:30%;
    width:70%;
    height:100%;

    position:fixed;
    overflow:auto;

}

body #sideboard {
    margin:0px;
    margin-right:0px;
    margin-left:auto;

    background-color:#ccc;


    position:fixed;
    overflow:auto;

    top:0px;
    right:0px;
    left:auto;
    height:100%;
    width:30%;
    position:fixed;
    font-size:70%;
    background:#D7E1EB url(img/bg_sideboard.png);
    background-repeat:repeat-y;
    background-position:top left;
}

#sideboard div {
    padding:0.3em;
}
*/


/**
* quick project selector in tabs
*/
span#projectselector {
 background-image:  url(layout/marker_context_menu.png);
 background-repeat: no-repeat;
 cursor:            pointer;
 padding-right:     14px;
 background-position: left center;
}
span#projectselector:hover {
 background-image: url(layout/marker_context_menu_hover.png);
}


span#projectselectorlist {
 position:          absolute;
 border:            1px solid #888;
 background:        #eee;
 z-index:           5000;
 padding:           0px;
 margin             0px;
 display:           inline;
 font-size:         90%;
}


#header #tabs span#projectselectorlist a{
 display:           block;
 text-align:        left;
 font-weight:       normal;
}

#header #tabs span#projectselectorlist > a:hover{
 display:           block;
 text-align:        left;
 background-color:  #008;
 color:             #fff;
}


