	
body {
	background-color:#ffffff;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	margin:0px;
	font-family:Tahoma, Arial, Verdana,sans-serif;
	font-size:70%;

/*	font-family:arial,verdana,arial,tahoma;*/
/*	font:verdana,arial,tahoma;*/
}

.fake_hr {
  border:1px solid #808080;
  border-width:1px 0px 0px 0px;
}

a {
	color:#000000;
	text-decoration:none;
}
a:hover {
	color:#ff0000;
	text-decoration:underline;
}
h1,h2,h3,h4,ul, li,div {
	margin:0px;
	padding:0px;
}


div#header, 
div#b_quick_edit_long,
.notice, 
#message,
div.messages {
 display:none;
}

noscript {
    display:none;
}

div#user_functions {
    display:none;
}

div.page_functions {
    display:none;
}


/*--- section-colors ---*/


#tabs {
    display:none;
}
#login {
    display:none;

}
div#nav_sub {
    display:none;
}

#header #logo img{
	display:none;
}

#header #logo {
	float:right;
}
#header #logo .text {
	font-style:italic;
	font-weight:bold;
	font-family:"arial black";
	font-size:91%;
}
#header #logo .text a {
	text-decoration:none;
}


#header #logo  div.text a span.extend{
 padding-left:0.8em;
}


div.header {
    background-color:#fff;
}


    #nav_sub li {
        display:none;
    }

	#headline {
		padding:0;
        padding-bottom:10px;
		line-height:80%;
	}

	#headline .type {
		font-size:60%;
		padding-left:1px;
		color:#808080;
	}

	#headline .title {
		font-family:verdana;
		font-weight:bold;
		font-size:120%;
		padding-left:5px;
		font-style:italic;
	}
	#headline .title .minor {
		font-size:80%;
		font-style:normal;
	}



/* ---- edit functions ----*/
div.edit_functions {
	display: none;
}



/*------ content layout -----------------------------*/
.layout {
	width:100%;

}
.layout td{
	vertical-align:top;
}

#c1 {
  display:none;
}

#c2 {
}

#cr {
}


/*--- block - -----*/
.block_opened {
}


.block_closed {
}

.block .header span.block_options {
    display:none;
}

.reduced_header {
    display:none;
}


/*----- lists ----------------------------------------*/
.list {

}

	.closed {
        color:#fff;
        font-size:0%;
	}

	.opened {
		border-bottom:1px solid #909090;
        padding:0px;
        margin:0px;

	}


	/*--- header ----*/
	.header {
		padding:1px 2px 0px 5px;
		font-weight:bold;
		height:20px;
	}

	.header h2 {
	    font-size:90%;
	    padding:0px 0px  3px 0px;
	    margin:0px;
	}

	.list .header h2 img {
        display:none;
	}


	.list .header .toggle {
		float:left;
		font-weight:bold;
		font-size:100%;
		font-family:verdana;
		height:10px;
		color:#ffffff;
		margin-top:-3px;
		margin-right:5px;
	}

	#icons {
        float:left;
        padding-left:20px;
        background-image:url(img/arrow_checkbox_functions.gif);
        background-repeat:no-repeat;
        padding-right:3px;
        margin-right:5px;
        border-right:1px solid #fff;
	}
	#icons img{
		padding-left:5px;
		padding-right:5px;
	}

	#icons a img {
		border:none;
	}



	#icons .notallowed {
		opacity:0.2;
	}

	#icons .inactive {
		opacity:0.6;
	}

	#icons .inactive:hover {
		opacity:0.1;
	}

	#icons img:hover {
		background-color:#ffffff;
	}

	.list .header .table_name {
	    font-size:90%;
		float:left;
	}



	/*--- list - table -----*/
	.list #div_table {
		clear:both;
	}

	.list table {
		border-collapse:collapse;
		border-width:0px;
		margin:0px;
		padding:0px;
		border-right:1px solid #808080;
		border-left:1px solid #808080;
		border-bottom:1px solid #808080;
		margin-bottom:0px;
                width:100%;
	}
	table th {
		font-weight:bolder;
		font-size:70%;
		font-weight:normal;
		text-align:left;
		padding:0px 3px 1px 2px;
		border-bottom:1px solid #808080;
		border-right:1px solid #a0a0a0;
		border-left:1px solid #e8e8e8;
		white-space:nowrap;
		vertical-align:bottom;
	}
	table  .sort_primary {
		border-top:2px solid #808080;
	}

	table  .sort_secondary {
		border-top:1px solid #a0a0a0;
	}

	table th img {
		display:none;
	}


	table .select_col {
        display:none;
	}

	table td {
        vertical-align:top;
		border:1px solid #ddd;
		border-width: 0px 1px 1px 0px;
        background-color:#fff;
        font-size:80%;
        padding:2px 2px 3px 4px;
	}

    .folder_none{
        padding-left:14px;
    }

    .list .folder_collapsed{
        /*padding-right:7px;
        font-weight:bold;*/
    }
    .list .folder_open{
        /*padding-right:7px;
        font-weight:bold;*/
    }


    table tr.isFolder a {
        font-weight:bold;
        font-size:110%;
    }

    table tr.isDone {
        text-decoration:line-through;
    }


	td img {
		border:none;
	}

	td span.diz {
	    display:none;
	}

    .isDone {
		text-decoration:line-through;
        color:#888;
	}
    .isDone a{
        text-decoration:line-through;
        color:#000;
    }

    table tr.current {
        font-weight:bold;
        background-color:#ffffff;
        border:2px solid #888;
        border-width:2px 2px 2px 2px;

    }

	table.list td{
	 border:1px solid #f0f0f0;
		margin:0px;
		padding:3px 20px 3px 2px;
		font-size:80%;
		vertical-align:middle;
        cursor:pointer;
        vertical-align:top;

	}

	table.list tr.odd td{
		background-color:#fff;
	}
	table.list  tr.even {
		background-color:#fff;
	}

	/*%%*/
	table.list tr.not_viewed  {
		color:#e57700;
	}
	table.list tr.not_viewed td a  {
		color:#e57700;
	}

    table.list tr.group td {

	    padding:7px 0px 0px 3px;
	    border:1px solid #888;
	    border-width:0px 0px 4px 0px;
	    color:#fff;
	    font-size:80%;
	    font-weight:bold;
	    font-style:italic;

	}



    table.list td.taskwithfolder span.name {
        font-weight:bold;
    }

    .nowrap {
        white-space:nowrap;

    }

	table.list tr.group td em {
	    padding:0px 4px 0px 3px;

	}
    .block table tr.details {
        background-color:#fff;
        font-size:80%;

    }
    .block table tr.details td{
        border-top:0px  dashed #000;
        border-bottom:1px solid #333;
        padding-left:2em;
    }
    .block table tr.details div {
        overflow:hidden;
        padding:0px;
        margin:0px;
    }

    .block table tr.details div.severity {
        padding-left:1em;
        float:left;
        width:10em;
    }

    .block table tr.details div.description {
        padding-left:1em;
        float:left;
        width:40%;
    }

    .block table tr.details img {
        width:50%;
    }

    .block table tr.details div.steps {
        padding-left:1em;
        float:left;
        width:20%;
    }
    .block table tr.details div.assigned_to {
        padding-left:1em;
        float:right;
        width:15%;
        font-size:110%;
        text-align:right;
    }

    .list .indention{
        padding-left:10px;
    }
    .list .indented{
        /*padding-left:22px;*/
        /*background-image:url(img/bg_indented.gif);
        background-repeat:no-repeat;*/
    }

    /*1- Important*/
    .label1 {
        color:#f00;
    }
    /*2- Bug*/
    .label2 {
        color:#282;
    }


/*---- presets ----------------------*/
    div.presets {
     display:none;
    }

	.header span.block_options {
	 display:none;
	}


	/*--- .list_footer ----*/
	.list #list_footer{
        display:none;
	}

    div.footer span.icons {
        display:none;
    }

    div.footer span.summary {
        font-size:70%;
        margin-top:20px;
    }



    .list .footer {
        height:20px;
    }

    div.page_functions2 {
        display:none;
    }

    #quicknew {
        display:none;
    }




.footer {
    display:none;
}

.botton {
    border:0px;
    background-color:#ff0000;
    font-weight:bold;
    display:none;
}


/*=== page footer ===========================*/
#footer {
    display:none;
}


/*---- wiki -------------------------*/
div.wiki {
    line-height:140%;
    font-size:110%;
    max-width:50em;
}

div.wiki pre {
    padding:3px 2px 2px 4px;
    border:1px dashed #ccc;
    background-color:#f8f8f8;
    font-size:80%;
    font-family:"Courier";
    font-weight:normal;
    line-height:125%;
    margin-left:10px;
    margin:5px 0px 10px 10px;

}
/*  hide monaco from IE 6.0 */
div.wiki > pre {
    font-family:"Monaco","Lucida Console","Bitstream Vera Sans", courier;
}


div.wiki code {
    font-size:110%;
    font-family:"Courier New";
    color:#555;
}


div.wiki h1,div.wiki h2, div.wiki h3,div.wiki h4, div.wiki h5 {
    margin:10px 10px 5px 0px;
    padding:0px;
}
div.wiki h1 {
    font-size:140%;
}

div.wiki h2 {
    font-size:120%;
}

div.wiki h3 {
    font-size:110%;
}

div.wiki ul, div.wiki ol {
    margin:5px 10px 12px 15px;
}

div.wiki ul, div.wiki ol {
    margin:3px 10px 10px 15px;
    padding:0px;
}

div.wiki li{
    padding:0px 0px 2px 0px;
    margin:0px;
}

div.wiki em {
    /*font-weight:bold;*/
    font-family:"Georgia","Palatino Linotype","Palantino","Georgia";
    font-size:110%;
    color:#060;
}

div.wiki img {
    margin:1px;
    border-width:0px;
}
div.wiki img:hover {
    margin:0px;
    border-width:1px;
}

div.wiki img.left {
    float:left;
}

div.wiki img.right {
    float:right;
}

div.wiki div.frame {
    background-color:#ddd;
    padding:2px 2px 2px 2px;
    margin:0px 10px 0px 10px;
    -moz-border-radius:7px;
    font-size:80%;
    white-space:normal;
    line-height:120%;
    display:block;
    float:left;
}

div.wiki div.left {
    float:left;
}

div.wiki div.right {
    float:right;
}

div.wiki hr {
  border: 1px dashed #fff;
  border-width:1px 0px 0px 0px;
  clear:both;
  margin:0px;
  padding:0px;
}

div.wiki div.frame img {
    display:block;
}

div.wiki div.frame span {
    width:15em;
    display:block;
}

/* hide in IE 6 */
div.wiki > div.frame span {
    max-width:16em;
}


div.wiki span.end {
    clear:both;
    display:block;
}

span.hint_wiki_syntax {
    font-size:70%;
}
span.hint_wiki_syntax a {
}

div.wiki a {
    border-bottom:1px dotted #888;
}

div.wiki a:hover {
    border-bottom:1px dotted #f00;
}

/*
div.wiki a.item {
    padding-left:17px;
    background-image:url(items/item_item.png);
    background-repeat:no-repeat;
    background-position:center left;
}
*/

div.wiki a.isDone {
	text-decoration:line-through;
}

div.wiki a.person {
    padding-left:17px;
    background-image:url(items/item_person.png);
    background-repeat:no-repeat;
    background-position:center left;
}

div.wiki p.quote {
    font-family:Georgia, Times;
    color:#444;
    margin:1em;
    font-style:italic;
}

div.wiki p.code_from {
 background-color:#ddd;
 margin:0px;
 padding:0px 5px 0px 10px;
 color:#999;
 position:relative;
 top:-0.84em;
 font-size:80%;
 line-height:130%;
 display:inline;
 float:right;
 -moz-border-radius:5px 0px 0px 0px;
}


div.wiki p.code_from span {
 font-weight:bold;
 color:#444;
}
div.wiki p.quoted_from {
    font-family:"georgia";
    color:#888;
    font-size:80%;
    text-align:right;
}

div.wiki table {
    border:1px;
    border-collapse:collapse;
    margin:5px 0px 0px 10px;
}

div.wiki table td,
div.wiki table th {
    border:1px solid #888;
    padding:1px 5px 1px 5px;
}

div.wiki table th {
    background-color:#888;
    color:#fff;
    font-size:80%;
    margin:0px;
    line-height:130%;
}

