/**
* clean theme from streberPM
*  (c)2005 thomas@pixtur.de
*/

/* === common settings ================================== */
@import url(common.css);
@import url(header.css);
@import url(footer.css);
@import url(wiki.css);
@import url(wiki_diff.css);
@import url(content.css);
@import url(forms.css);
@import url(autocomplete.css);
@import url(context_menu.css);
@import url(timetracking.css);
@import url(tasklist.css);


/**
* styles for ajax driven sideboard
*/
#outer.sideboardOn {
    margin:0px;
    padding:0px;
    top:0px;

    left:0px;
    margin-right:30%;
    width:60%;
    height:100%;

    position:fixed;
    overflow:auto;
}


#sideboard.sideboardOn {
    margin:0px;
    margin-right:0px;
    margin-left:auto;

    background-color:#ccc;

    position:fixed;
    overflow:auto;

    top:0px;
    right:0px;
    left:auto;
    height:100%;
    width:40%;
    position:fixed;
    font-size:90%;
    background:#D7E1EB url(img/bg_sideboard.png);
    background-repeat:repeat-y;
    background-position:top left;
}

#sideboard div {
    padding:0.3em;
}



