div.timetable {
    position:relative;
}

div.timetable div.container {
    position:absolute;
    top:0;
    left:0;
}

div.timetable div.container a.timeblock {
    display:block;
    position: absolute;
    height:18px;
    background-color: rgba(80,80,200, 0.8);
    -webkit-box-shadow: 0px 0px 3px rgba(255,255,255,0.8);
    white-space:nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow:hidden;
    color: white;
    font-size:10px;
    font-weight:normal;
    text-align:center;
}

div.timetable div.currentTime {
    background-color: red;
    width: 2px;
    position:absolute;
    height:40px;
    left:2px;
    bottom:0px;
    
}

.myCanvas{
  image-rendering: optimizeSpeed;             
  image-rendering: -moz-crisp-edges;          
  image-rendering: -webkit-optimize-contrast;                                               
  image-rendering: optimize-contrast;         
  -ms-interpolation-mode: nearest-neighbor;   
}


div.timetracking {
  padding:1em;
  width:510px;
}

div.timetracking span.rating {
  float:right;
}

div.timetracking p {
  padding:3px 0;
}

div.timetracking a#previous_date,
div.timetracking a#next_date,
div.timetracking a#trigger_date,
div.timetracking textarea,
div.timetracking input {
  background:white;
  border:1px solid #ccc;
  padding:4px 3px;
  border-radius:5px;
  font-size:13px;
  margin:0;
}

div.timetracking a#previous_date {
  border-right:none;
  margin-right:-4px;
  padding-right:8px;
}
div.timetracking a#next_date {
  opacity:0;
  margin:0;
}
div.timetracking a#trigger_date {
  width:200px;
}

div.timetracking input.project {
  z-index:10;
  width:150px;
  background: white url(layout/breadcrumb-separator.png) right no-repeat;
}

div.timetracking input.task {
  margin-left:-5px;
  border-radius: 0px 5px 5px 0px;
  border-left:none;
  width:340px;
  padding-left:10px;
}

div.timetracking input.time {
  width: 50px;
  margin-right:5px;
  text-align:center;
}

div.timetracking input.error {
  border-color:red;
}

div.timetracking textarea{
  width:500px;
}



div.timetracking a#trigger_date {
  color: #999;
  margin-right:15px;
  width:120px;
  font-size:13px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-weight: lighter;
  font-family: Helvetica;
  color: #aaa; 
  font-size:13px;
}

textarea:-moz-placeholder,
input:-moz-placeholder {
  font-weight: lighter;
  font-family: Helvetica;
  color: #aaa; 
  font-size:13px;
}



/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating {
  float: left;
  width: 17px;
  height: 15px;
  text-indent: -999em;
  cursor: pointer;
  display: block;
  background: transparent;
  overflow: hidden
}
div.rating-cancel,div.rating-cancel a {
  background: url(img/delete.gif) no-repeat 0 -16px
}
div.star-rating,div.star-rating a {
  background: url(img/star.gif) no-repeat 0 0px
}
div.rating-cancel a,div.star-rating a {
  display: block;
  width: 16px;
  height: 100%;
  background-position: 0 0px;
  border: 0
}
div.star-rating-on a {
  background-position: 0 -16px!important
}
div.star-rating-hover a {
  background-position: 0 -32px
}
/* Read Only CSS */
div.star-rating-readonly a {
  cursor: default !important
}
/* Partial Star CSS */
div.star-rating {
  background: transparent!important;
  overflow: hidden!important
}
/* END jQuery.Rating Plugin CSS */





